/*
1. Posicionamiento -> static, absolute, relative, fixed
2. Modelo de caja -> margin, border, padding, content
3. Tipografia -> tipos, tamaños de fuente, etc
4. Visuales -> box-shadow, border-radius, gradient, etc
5. Otros
*/

:root {
  /* Colors */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d4;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #ffffff;

  /* Fonts*/
  --font-primary: "DM Sans", sans-serif;
  --font-secondary: "Inter", sans-serif;

  /* Weight */
  --light: 300;
  --medium: 500;
  --bold: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--font-primary);
  min-width: 320px;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  /* align -items: center para los contenedores centre a sus hijos*/
  align-items: center;
  width: 100%;
  /* min-width: 320px; */
  height: 334px;
  text-align: center;
  /* background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%); */
  /*background: #fc4a1a;   fallback for old browsers */
 /* background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);   Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #f7b733, #fc4a1a); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: linear-gradient(to right, #423519, #b93b19); */


  /* background: linear-gradient(to right, #1e0909, #851f03); */
  background: linear-gradient(to left, #1e0909, #561402);
  /* #562d02 */
}

header > img {
  margin-top: 40px;
  width: 200px;
}

.header-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
}

.header-container h1 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header-container p {
    margin-top: 24px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header-container .header-button {
    position: absolute;
    top: 270px;
    left: calc(50% - 115px)    ;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 230px;
    height: 48px;
    background-color: var(--off-white);
    /* Shadow */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--black);
}

.header-button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 8px;
    background-image: url('./assets/icons/down-arrow.svg');
}

main {
  width: 100%;
  /* min-width: 320px; */
  height: auto;
  background-color: var(--off-white);
}

section.exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;

  
}

div.bitcoin-image {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background: url('./assets/images/bitcoin.svg') center/cover no-repeat;
 /* background-repeat: no-repeat;
 background-size: cover;
 background-position:center; */
}


.exchange-title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.exchange-title h2 {
  font-size: 2.4rem;
  font-weight: 700;
  padding-top: 40px;
  line-height: 2.6rem;
  color: var(--warm-black);
}

.exchange-title p {
  font-size: 1.4rem;
  font-weight: 500;
  padding-top: 24px;
  padding-bottom: 48px;
  line-height: 1.8rem;
  color: #757575;

}


/***** SECTION TABLES *****/


table.table {
  display: flex;
  justify-content: center;
  font-family: var(--font-secondary);

}
tbody {
  background-color: var(--just-white);
  border-radius: 8px;
}


.money-container > p {
  display: inline-block;
  margin-left: -80px;
  color: var(--bitcoin-orange);
  font-size: 1.8rem;
  font-weight: 700;
  padding-bottom: 12px;
}

.money-table tr td {
  padding: 10px 12px;

}

.money-table tr td:nth-child(1) {
  font-size: 1.6rem;
  color: #B5B0AC;
  text-align: start;
  font-weight: 500;
}

.money-table tr td:nth-child(2) {
  font-size: 1.4rem;
  color: #757575 ;
}

.money-table .table span  {
    display: inline-block;
    width: 12px;
    height: 10px;
    margin-left: 8px;
}

span.down {
  background-image: url(./assets/icons/trending-down.svg);
}

span.up {
  background-image: url(./assets/icons/trending-up.svg);
}

/**/

.update {
  display: inline-block;
  margin-top: 16px;
  font-size: 1rem;
  font-family: var(--font-secondary);
  color: var(--black);
  padding: 8px;
  background-color: var(--soft-orange);
  border-radius: 5px;
}

.update span {
  font-weight: 700;
}






































































